<!-- <vaadin-app-layout>
    <h1 slot="navbar">
      HelpItGo
    </h1>
    <h3 slot="navbar">Oldjuk meg együtt!</h3>
</vaadin-app-layout> -->

<div class="navbar">
  <!-- <img src="../pictures/convert2.svg" alt="logo">
  <img src="../pictures/convert2.svg" alt="logo">
  <img src="src\app\pictures\convert2.png" alt="logo">
  <img src="C:\Users\laszlo.romeo.csomali\Desktop\HelpItGO\vaadin-component\src\app\pictures\convert2.svg" alt="logo">
  <img src="C:\Users\laszlo.romeo.csomali\Pictures\Saved Pictures\convert2.svg" alt="logo">
  <img src="C:\Users\laszlo.romeo.csomali\Pictures\Saved Pictures\convert2.jpg" alt="logo"> -->
  HelpItGo
</div>

