@media screen and  (min-height: 900px) {
  .modal {
    z-index: 2;
    // position: relative;
    top: 30px;
    // bottom: 0;
    width: 40%;
    max-width: 600px !important;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    // margin-top: 25%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (min-height: 600px) and (max-height: 900px) {
  .modal {
    z-index: 2;
    // position: relative;
    top: 30px;
    // bottom: 0;
    width: 40%;
    max-width: 600px !important;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    // margin-top: 25%;
    transform: translate(-50%, -72%);
    max-height: 400px;
  }
}


iron-icon {
  cursor: pointer;
}

.modal-title {
  color: grey;
}

.modal-body {
  border-radius: 15px;
  background: #fff;
  padding: 5%;
  text-align: left;
}

.modal-background {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(46, 18, 124, 0.452);
  // makes the below elements visible to a degree.
  opacity: 0.45;
}
