.list-items {
  display: flex;
  order: 5;
  float: inline-end;
  border-radius: 10px;
  padding: 6px;
  width: 589px;
  margin: 0, 8%, 15px, 8%;
  margin-bottom: 15px;
  justify-content: space-between;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.upper-index {
  font-size: xx-small;
  vertical-align: text-top;
}
