.container {
  text-align: center;
}

@media screen and (min-height: 900px) {
  .category {
    background-color: rgba(85, 77, 87, 0.233);
    color: grey;
    font-weight: 400;
    border-radius: 10px;
    position: relative;
    padding: 17px;
    max-height: 30px;
  }

  .service-category .price-list {
    font-size: medium;
    font-weight: 500;
  }

  .service-buttons {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    align-items: center;
  }

  .service-parts {
    display: flex;
    flex-direction: column;
    margin-right: 0%;
    margin-top: 5%;
  }

  .price-list {
    margin-top: 5%;
  }
}

@media screen and (min-height: 600px) and (max-height: 900px) {
  .category {
    background-color: rgba(85, 77, 87, 0.233);
    color: grey;
    font-size: smaller;
    font-weight: 400;
    border-radius: 10px;
    position: relative;
    padding: 8px;
    max-height: 30px;
  }

  .service-category .price-list {
    font-size: small;
    font-weight: 500;
  }

  .service-buttons {
    margin-top: 15px;
    margin-bottom: 0px;
    text-align: center;
    align-items: center;
  }

  .service-parts {
    display: flex;
    flex-direction: column;
    margin-right: 0%;
    margin-top: 1%;
  }

  .price-list {
    margin-top: 2%;
  }
}

.custom-button {
  cursor: pointer;
  left: 45%;
  margin-top: 2%;
  width: 200px;
}

.dialog-container {
  display: block;
}

.category:after {
  content:'';
  display:block;
  clear:both;
}

.modify-button {
  cursor: pointer;
  align-items: center;
  margin-top: 0px;
  color: rgba(42, 42, 42, 0.561);
  padding: 8px;
  float: right;
  background: transparent;
  border-radius: 10px;
  border: 1px solid rgb(163, 163, 163)!important;
}



.plus-buttons {
  cursor: pointer;
  color: rgba(85, 77, 87, 0.561);
}

.add-button {
  margin: 8px;
}
