<!-- Add new service button -->
<div class="container" fxLayout="column">
  <vaadin-button
  class="custom-button"
  (click)="openModal()">
    Új szolgáltatás
  </vaadin-button>

<!-- modal for adding new subservice -->
  <app-modal
  [title]="'Új alkategória'"
  *ngIf="isPriceModalVisible"
  (modalVisibility)="closeModal($event)"
  style="z-index: 3; position: fixed;">
    <app-subcategory
      (newPriceItemAdd)="addItem($event)"
      (closeWindow)="closeModal($event)">
    </app-subcategory>
  </app-modal>

<!-- modal for adding new service -->
  <app-modal
    [title]="'Szolgáltatás hozzáadása'"
    *ngIf="isModalVisible"
    (modalVisibility)="closeModal($event)">
    <div class="dialog-container">
      <div class="service-parts">

        <div class="service-category">
          <label>Szolgáltatás kategóriája</label>
          <div class="category">
            <iron-icon slot="prefix" icon="vaadin:car"></iron-icon>&nbsp;&nbsp;
            <span><strong>Autófényezés, karosszériajavítás</strong></span>
            <button class="modify-button">Módosít</button>
          </div>
        </div>

        <div class="service-name">
          <app-textarea
            [label]="'Szolgáltatásod rövid címe'"
            [maxLength]="75"
            [height]="'90px'">
          </app-textarea>
        </div>

        <div class="service-description">
          <app-textarea
            [label]="'Szolgáltatásod bővebb kifejtése'"
            [maxLength]="250"
            [height]="'120px'">
          </app-textarea>
        </div>

        <div class="price-list">
          <label for="price-list">Árlista</label>
          <div class="price-list-parts">
            <div class="add-button">
              <iron-icon
                (click)="openModal()"
                class="plus-buttons"
                slot="prefix"
                icon="vaadin:plus-circle">
              </iron-icon> Új tétel hozzáadása
            </div>
            <app-list-item
              *ngFor="let item of subServices"
              class="list-items"
              [item]=item>
            </app-list-item>
          </div>
        </div>

        <div class="service-buttons">
          <div class="button-container">
            <vaadin-button
              type="submit"
              class="button-save"
              >
                Változtatások jóváhagyása
            </vaadin-button>
            <div
            style="margin-top: 5px;
                  width: 300px;
                  text-align: left;">
              <app-slide-toggle></app-slide-toggle> &nbsp;&nbsp; <span>Szolgáltatás megjelenítése</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-modal>

  <!-- service list -->
  <div class="serviceList-container" fxLayout="row wrap">
    <app-user-service
      *ngFor="let userService of userServices | activeFilter"
      [service]=userService>
    </app-user-service>
  </div>
</div>


<!-- inline vaadin style modification example -->
<custom-style>
  <style>
    .button-save {
      background-color: var(--lumo-primary-color);
      color: white;
      font-weight: 600;
      float: right;
    }
    </style>
</custom-style>
