.container {
  text-align: center;
}

.custom-button {
  margin-top: 250px;
  cursor: pointer;
}

.vaadin-dialog {
  width:33%;
  box-shadow: 0 1px 4px -1px  hsla(214, 45%, 20%, 0.5) !important;
}

.dialog-container {
  display: block;
}

.service-parts {
  display: flex;
  flex-direction: column;
}

.category {
  background-color: rgba(85, 77, 87, 0.233);
  border-radius: 10px;
  position: relative;
  padding: 17px;
  max-height: 30px;
}

.category:after {
  content:'';
  display:block;
  clear:both;
}

.modify-button {
  cursor: pointer;
  align-items: center;
  margin-top: 0px;
  color: white;
  padding: 2px;
  border: white, solid, 0.3px !important;
  float: right;
  background-color: none;
  border: solid, rgba(85, 77, 87, 0.561), 0.8px;
}

.text-area {
  background-color:white;
  color: black;
  border-radius: 10%;
  width: 600px;
  margin: 0, 8%, 0, 8%;
  text-align: left;
}

.small-field {
  height: 80px;
}

.text-field {
  width: 400px;
  margin: 0px 30px 0px 30px;
}

.plus-buttons {
  cursor: pointer;
  color: rgba(85, 77, 87, 0.561);
}

.list-items {
  display: flex;
  order: 5;
  float: inline-end;
  border-radius: 10px;
  padding: 6px;
  width: 589px;
  margin: 0, 8%, 15px, 8%;
  margin-bottom: 15px;
  justify-content: space-between;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.add-button {
  margin: 8px;
}

.upper-index {
  vertical-align: text-bottom;
}

.service-buttons {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  align-items: center;
}


