form {
  width: auto;
  position:relative;
  display: block;
}

input[type=text], select {
  position: relative;
  min-width: 300px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button-container:after {
  content:'';
  display:block;
  clear:both;
  margin-top: 8px;
}

button {
  cursor: pointer;
  background-color: var(--lumo-primary-color);
  color: white;
  font-weight: 600;
  float: right;
  border-radius: 10px;
  border: none;
  padding: 8px;
}
